<body >
<center>
<h1 >About UniTap Web Application!!</h1>
</center>

<br>
<h2  >
  This application is made by: Brandon Marino, Daniel Abdalla, Osama Buhamad, and Mustafa Alshaks
</h2>
<br>
<br>

<h3 > The Purpose of this project is to build a virtual wallet which contains many virtual NFC tags. These tags will work in tandem with a terminal allowing the user access to buildings and the ability to make payments and spend loyalty points.
</h3>

<br> 
<br> 
<br> 

<h3>Contacts information: <br>
Brandon Marino<br> 	
Email: brandon.a.marino@gmail.com or brandonmarino@cmail.carleton.ca<br> <br> 
Daniel Abdalla 	<br> 
Email: danielabdalla@cmail.carleton.ca or daniel.abdalla14@gmail.com<br> <br> 
Mustafa Alshakhs <br> 
Email: mustafaalshakhs@cmail.carleton.ca or mustafa.alshakhs@gmail.com<br> <br> 
Osama Buhamad 	<br> 
Email: osamabuhamad@cmail.carleton.ca <br> <br> 
</h3>


