<body style="background-color:lightgrey;">
<center>
<h1 style="color:#4099FF">About UniTap Web Application!!</h1>

<h2 style="color: #4099FF" >
  This application is made by: Brandon Marino, Daniel Abdalla, Osama Buhamad, and Mustafa Alshaks
</h2>


<h2 style="color: #4099FF"> The Purpose of this project is to build a virrtual wallet which contains many virtual NFC tags. These tags will work in tandem with a terminal allowing the user access to buildings and the ability to make payments and spend loyalty points.
</h2>

<p style="color: #4099FF"> to be Continued...</p> </center>