<body style="background-color:darkgrey;">
<center>
<h1 style="color:darkred">About UniTap Web Application!!</h1>

<h2 style="color:darkred" >
  This application is made by: Barndon Marino, Daniel Abdalla, Osama Buhamad
</h2>
</center>

<h2> The Purpose of this project is to build a virrtual wallet which contains many virtual NFC tags. These tags will work in tandem with a terminal allowing the user access to buildings and the ability to make payments and spend loyalty points.
</h2>

<p> to be Continued...</p> 