
<body style="background-color:darkgrey;">
<h1 style="color:darkred">Welcome to UniTap Web Application!!</h1>

<h2 style="color:darkred" >
  to sign up in our service 
   <%= link_to "Sign Up", "users/sign_up" %>
</h2>

<h2 style="color:darkred" >
  to log in our service 
   <%= link_to "Log in", "users/sign_in" %>
</h2>

<p1 style="color:darkred" >
  to sign out  
   <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
</p1>
  
 <h2 style="color:darkred"> 
   To find about us
  <%= link_to "About Us", "page/aboutus" %>
</h2>

</body>




