
<h1>Welcome to UniTap Web Application!!!!!!!!!!!!!!!!!!!!</h1>
<p>
  to find about us 
   <%= link_to "Sign Up", "page/signup" %>
</p>
  
  <p>
   to find about us
  <%= link_to "About", "page/aboutus" %>
</p>




